<?xml version="1.0" encoding="utf-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <interactiveMode>true</interactiveMode>  
  <offline>false</offline>  
  <pluginGroups/>  
  <proxies/>  
  <servers> 
    <server> 
      <id>nexus-releases</id>  
      <username>admin</username>  
      <password>admin123</password>  
      <filePermissions>664</filePermissions>  
      <directoryPermissions>775</directoryPermissions>  
      <configuration/> 
    </server>  
    <server> 
      <id>nexus-snapshots</id>  
      <username>admin</username>  
      <password>admin123</password>  
      <filePermissions>664</filePermissions>  
      <directoryPermissions>775</directoryPermissions>  
      <configuration/> 
    </server> 
  </servers>  
  <mirrors> 
    <mirror> 
      <id>nexus-aliyun</id>  
      <mirrorOf>central</mirrorOf>  
      <name>Nexus aliyun</name>  
      <url>http://maven.aliyun.com/nexus/content/groups/public</url> 
    </mirror> 
  </mirrors>  
  <profiles> 
    <profile> 
      <id>yesway</id>  
      <activation> 
        <activeByDefault>false</activeByDefault>  
        <jdk>1.8</jdk> 
      </activation>  
      <properties> 
        <project.build.sourceEncoding>utf8</project.build.sourceEncoding>  
        <maven.compiler.source>8</maven.compiler.source>  
        <maven.compiler.target>8</maven.compiler.target>  
        <maven.compiler.encoding>utf8</maven.compiler.encoding> 
      </properties>  
      <repositories> 
        <repository> 
          <id>95190Server</id>  
          <name>95190 Server</name>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy>  
            <checksumPolicy>warn</checksumPolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy>  
            <checksumPolicy>fail</checksumPolicy> 
          </snapshots>  
          <url>http://10.1.11.182:8080/nexus-2.1.2/content/groups/public/</url>  
          <layout>default</layout> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>95190Plugin</id>  
          <name>95190 Plugin</name>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy>  
            <checksumPolicy>warn</checksumPolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy>  
            <checksumPolicy>fail</checksumPolicy> 
          </snapshots>  
          <url>http://10.1.11.182:8080/nexus-2.1.2/content/groups/public/</url>  
          <layout>default</layout> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile>  
    <profile> 
      <id>sonar</id>  
      <activation> 
        <activeByDefault>true</activeByDefault> 
      </activation>  
      <properties> 
        <sonar.host.url>http://172.28.25.236:9000</sonar.host.url> 
      </properties> 
    </profile> 
  </profiles>  
  <activeProfiles> 
    <activeProfile>yesway</activeProfile> 
  </activeProfiles> 
</settings>
