<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yesway.music.repository.impl.CustomerExtRepositoryImpl">
    <!-- 表名 -->
    <sql id="table_name"> customer </sql>
    <!-- 列名 -->
    <sql id="column_list">
            id, 
            phone_number, 
            birthday, 
            gender, 
            nick_name, 
            avatar, 
            create_time, 
            login_time
    </sql>

    <!-- ORM映射关系 -->
    <resultMap id="resultMap" type="cn.yesway.music.entity.Customer">
        <id column="id" property="id"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
    </resultMap>

</mapper>