<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yesway.music.repository.impl.CustomerThridLoginRepositoryImpl">
    <!-- 表名 -->
    <sql id="table_name"> `customer_thrid_login` </sql>
    <!-- 列名 -->
    <sql id="column_list">
            `id`, 
            `open_id`, 
            `type`
    </sql>
    <!-- 查询语句 -->
    <sql id="condition_sql">
                <if test="id != null">
                    and `id` = #{id}
                </if>
                <if test="openId != null and openId != ''">
                    and `open_id` = #{openId}
                </if>
                <if test="type != null">
                    and `type` = #{type}
                </if>
    </sql>
    <!-- EntityCondition查询语句 -->
    <sql id="select_condition_sql">
        <foreach collection="criterias" item="criteria" separator="or">
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                     separator=",">
                                #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </trim>
        </foreach>
    </sql>
    <!-- UpdateCondition查询语句 -->
    <sql id="update_condition_sql">
        <foreach collection="condition.criterias" item="criteria" separator="or">
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                     separator=",">
                                #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </trim>
        </foreach>
    </sql>

    <!-- ORM映射关系 -->
    <resultMap id="resultMap" type="cn.yesway.music.entity.CustomerThridLogin">
        <id column="id" property="id"/>
                <result column="open_id" property="openId"/>
                <result column="type" property="type"/>
    </resultMap>
    <!-- 全字段新增 -->
    <insert id="insert" parameterType="cn.yesway.music.entity.CustomerThridLogin" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="table_name"/>
        (
        <include refid="column_list"/>
        )
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{id},
                #{openId},
                #{type},
        </trim>
    </insert>

    <!-- 非空字段新增 -->
    <insert id="insertSelective" parameterType="cn.yesway.music.entity.CustomerThridLogin" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="id != null">
                        `id`,
                    </if>
                    <if test="openId != null and openId != ''">
                        `open_id`,
                    </if>
                    <if test="type != null">
                        `type`,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="id != null">
                        #{id},
                    </if>
                    <if test="openId != null and openId != ''">
                        #{openId},
                    </if>
                    <if test="type != null">
                        #{type},
                    </if>
        </trim>
    </insert>

    <!-- 全字段批量新增 -->
    <insert id="insertBatch" parameterType="cn.yesway.music.entity.CustomerThridLogin">
        insert into
        <include refid="table_name"/>
        (
        <include refid="column_list"/>
        )
        values
        <foreach collection="list" item="item" open=" " close=""
                 separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                    #{item.id},
                    #{item.openId},
                    #{item.type},
            </trim>
        </foreach>
    </insert>

    <!-- 非空字段批量新增 -->
    <insert id="insertBatchSelective" parameterType="cn.yesway.music.entity.CustomerThridLogin">
        insert into
        <include refid="table_name"/>
        <foreach collection="list" item="item" open=" " close="" separator="," index="index">
            <if test="index == 0">
                <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="item.id != null">
                                `id`,
                            </if>
                            <if test="item.openId != null and item.openId != ''">
                                `open_id`,
                            </if>
                            <if test="item.type != null">
                                `type`,
                            </if>
                </trim>
            </if>
        </foreach>
        values
        <foreach collection="list" item="item" open=" " close=""
                 separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="item.id != null">
                            #{item.id},
                        </if>
                        <if test="item.openId != null and item.openId != ''">
                            #{item.openId},
                        </if>
                        <if test="item.type != null">
                            #{item.type},
                        </if>
            </trim>
        </foreach>
    </insert>

    <!-- 根据Id全字段修改 -->
    <update id="updateByPrimaryKey" parameterType="cn.yesway.music.entity.CustomerThridLogin">
        update
        <include refid="table_name"/>
        <set>
                    `open_id` = #{openId},
                    `type` = #{type}
        </set>
        <where>id = #{id}</where>
    </update>

    <!-- 根据Id非空字段修改 -->
    <update id="updateByPrimaryKeySelective" parameterType="cn.yesway.music.entity.CustomerThridLogin">
        update
        <include refid="table_name"/>
        <set>
                    <if test="openId != null and openId != ''">
                        `open_id` = #{openId},
                    </if>
                    <if test="type != null">
                        `type` = #{type}
                    </if>
        </set>
        <where>id = #{id}</where>
    </update>

    <!-- 根据条件全字段修改 -->
    <update id="updateByCondition" parameterType="map">
        update
        <include refid="table_name"/>
        <set>
                    `open_id` = #{entity.openId},
                    `type` = #{entity.type}
        </set>
        <where>
            <if test="condition != null">
                <include refid="update_condition_sql"/>
            </if>
        </where>
    </update>

    <!-- 根据条件非空字段修改 -->
    <update id="updateByConditionSelective" parameterType="map">
        update
        <include refid="table_name"/>
        <set>
                    <if test="entity.openId != null and entity.openId != ''">
                        `open_id` = #{entity.openId},
                    </if>
                    <if test="entity.type != null">
                        `type` = #{entity.type}
                    </if>
        </set>
        <where>
            <if test="condition != null">
                <include refid="update_condition_sql"/>
            </if>
        </where>
    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>`id` = #{id}</where>
    </delete>

    <!-- 根据主键批量删除 -->
    <delete id="deleteByPrimaryKeys" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>
            `id`
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 根据条件删除 -->
    <delete id="deleteByCondition" parameterType="cn.yesway.music.entity.CustomerThridLoginCondition">
        delete from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
    </delete>

    <!-- 根据主键查找 -->
    <select id="selectByPrimaryKey" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>`id` = #{id}</where>
    </select>

    <!-- 根据多个主键查找 -->
    <select id="selectByPrimaryKeys" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            `id`
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <!-- 根据查询条件查找 -->
    <select id="selectByCondition" resultMap="resultMap" parameterType="cn.yesway.music.entity.CustomerThridLoginCondition">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
        <if test="orderBy != null and orderBy != ''" >
            order by ${orderBy}
        </if>
    </select>

    <!-- 根据查询条件查询数量 -->
    <select id="countByCondition" resultType="java.lang.Long"
            parameterType="cn.yesway.music.entity.CustomerThridLoginCondition">
        select count(0) from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
    </select>

</mapper>
